<div class="page-header">
  <h1>Tipos de veículos</h1>
</div>

<vehicle-types-search></vehicle-types-search>

<hr />

<table class="table table-bordered table-hover table-condensed">
  <col style="width:5%">
  <col style="width:70%">
  <col style="width:15%">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="vehicleType in $ctrl.data._embedded.vehicle_types">
      <td><a href="#!/vehicle-types/{{ vehicleType.id }}">{{ vehicleType.id }}</a></td>
      <td>{{ vehicleType.name }}</td>
      <td>
        <div class="btn-group">
          <a href="#!/vehicle-types/{{ vehicleType.id }}/edit" class="btn btn-sm btn-default">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a href="#" class="btn btn-sm btn-danger" data-ng-click="$ctrl.intentToRemove(vehicleType.id)">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-md-3 p-t-10">
    <div data-ng-if="$ctrl.data.has_other_pages">
      Exibindo página {{ $ctrl.data.current_page }} de {{ $ctrl.data.num_pages }}
    </div>
    <div data-ng-if="!$ctrl.data.has_other_pages" class="p-t-10">
      Exibindo todos os resultados
    </div>
  </div>
  <div class="col-md-6">
    <nav data-ng-if="$ctrl.data.has_other_pages" class="text-center">
      <ul class="pagination m-t-0">
        <li data-ng-class="{ disabled: $ctrl.data._embedded.pages.first_page.current }">
          <a data-ng-if="!$ctrl.data._embedded.pages.first_page.current" href="#!/vehicle-types?{{ $ctrl.data._embedded.pages.first_page.filter_args }}">
            <span aria-hidden="true">&laquo;</span>
          </a>
          <span data-ng-if="$ctrl.data._embedded.pages.first_page.current">
            <span aria-hidden="true">&laquo;</span>
          </span>
        </li>

        <li data-ng-class="{ disabled: !$ctrl.data._embedded.pages.previous_page }">
          <a data-ng-if="$ctrl.data._embedded.pages.previous_page" href="#!/vehicle-types?{{ $ctrl.data._embedded.pages.previous_page.filter_args }}">
            <span aria-hidden="true">&lsaquo;</span>
          </a>
          <span data-ng-if="!$ctrl.data._embedded.pages.previous_page">
            <span aria-hidden="true">&lsaquo;</span>
          </span>
        </li>

        <li data-ng-repeat="page_range in $ctrl.data._embedded.pages.page_range" data-ng-class="{ active: page_range.current }">
          <a data-ng-if="!page_range.current" href="#!/vehicle-types?{{ page_range.filter_args }}">
            {{page_range.page}}
          </a>
          <span data-ng-if="page_range.current">
            {{page_range.page}}
          </span>
        </li>

        <li data-ng-class="{ disabled: !$ctrl.data._embedded.pages.next_page }">
          <a data-ng-if="$ctrl.data._embedded.pages.next_page" href="#!/vehicle-types?{{ $ctrl.data._embedded.pages.next_page.filter_args }}">
            <span aria-hidden="true">&rsaquo;</span>
          </a>
          <span data-ng-if="!$ctrl.data._embedded.pages.next_page">
            <span aria-hidden="true">&rsaquo;</span>
          </span>
        </li>

        <li data-ng-class="{ disabled: $ctrl.data._embedded.pages.last_page.current }">
          <a data-ng-if="!$ctrl.data._embedded.pages.last_page.current" href="#!/vehicle-types?{{ $ctrl.data._embedded.pages.last_page.filter_args }}">
            <span aria-hidden="true">&raquo;</span>
          </a>
          <span data-ng-if="$ctrl.data._embedded.pages.last_page.current">
            <span aria-hidden="true">&raquo;</span>
          </span>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-md-3 p-t-10">
    Exibir
    <select data-ng-model="$ctrl.per_page" data-ng-options="item for item in [5, 10, 20, 50]" data-ng-change="$ctrl.changePerPage($ctrl.per_page)"></select>
    resultados por página
  </div>
</div>
